<table>
  <th>
    <%= @section %>
  </th>
  <%= for list_item <- @list_items do %>
    <tr>
      <td><%= list_item.item_name %></td>
      <td><%= list_item.quantity %></td>
    </tr>
  <% end %>
</table>
