<table>
  <th>
    <%= @section %>
  </th>
  <%= for list_item <- @list_items do %>
    <tr>
      <td>
        <label>
          <%= render("list_item_checkbox.html", conn: @conn, list_item: list_item) %>
          <span></span> <!-- empty span to satisfy materialize.css-->
        </label>
      </td>
      <td><%= list_item.item_name %></td>
      <td><%= list_item.quantity %></td>
    </tr>
  <% end %>
</table>

