<h1><%= @list.name %></h1>

<%= form_for @changeset, Routes.list_list_item_path(@conn, :create, @list), fn f -> %>

  <label>
    <%= text_input f, :item_name %>
  </label>

  <label>
    <%= text_input f, :quantity %>
  </label>

  <%= submit "new item" %>
<% end %>

<span><%= link "Edit", to: Routes.list_path(@conn, :edit, @list) %></span>
<span><%= link "Back", to: Routes.list_path(@conn, :index) %></span>
