<h1>Edit List item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.list_list_item_path(@conn, :update, @list_item.list_id, @list_item)) %>

<span><%= link "Back", to: Routes.list_list_item_path(@conn, :index, @list_item.list_id) %></span>
