/* This file is for your main application css. */

@import "./phoenix.css";

/* Custom CSS */
li.btn.waves-effect.deep-orange.lighten-1 {
  margin: 5px;
}

span.nav-title {
  text-align: center;
  width: 100%;
}

span.nav-title {
  font-family: 'Gochi Hand', cursive, sans-serif;
  color: #fff;
  font-size: 115px!important;
}

<<<<<<< HEAD
input#list_name, input#list_item_item_name, input#list_item_quantity {
    border: solid 1px;
}

label[for=list_name], label[for=user_username], label[for=user_password],
label.item-label, label.quantity-label {
    font-size: 1.5rem;
    color: #9e9e9e;
}

h1, h2, h3, h4, .td-list-name {
  text-transform: capitalize;
  text-align: center;
}

.td-list-name {
  font-size: 1.75rem;
  text-align: left;
}

td {
    font-size: 1rem;
}

input#session_username, input#session_password, input#user_username, input#user_encrypted_password {
    padding-left: 20px;
    background: #ccc;
    color: #000;
}

input#user_username, input#user_encrypted_password {
  border: solid 1px;
  background: #fff;
}

form {
    width: inherit;
    margin: 0 auto;
}

input::placeholder {
  color: #fff;
  text-transform: capitalize;;
=======
#new-item {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

#new-item > * {
  margin-right: 30px;
}

#new-item button {
  padding: 0;
>>>>>>> 52e7c99511b3f6e8731ee0fe44358aaa8d914846
}
