/* This file is for your main application css. */

@import "./phoenix.css";

/* Custom CSS */
li.btn.waves-effect.deep-orange.lighten-1 {
  margin: 5px;
}

span.nav-title {
  text-align: center;
  width: 100%;
}

span.nav-title {
  font-family: 'Gochi Hand', cursive;
  color: #fff;
  font-size: 115px!important;
}

#new-item {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

#new-item > * {
  margin-right: 30px;
}

#new-item button {
  padding: 0;
}
