<section class="phx-hero">
  <h1>Welcome to <span class="list-locker" style="font-family: 'Gochi Hand', cursive; font-size:85px;">LIST LOCKER</span></h1>
  <p>List Locker allows you to create digital lists so you can access it on the go.
    You are be able to create lists for things like groceries, todo, recipes, etc.</p>
</section>
